<!DOCTYPE html>
<html>
<head>
  <title>TodoApp</title>
  <%= stylesheet_link_tag "style.css" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>ToDo List App</h1>
  </header>
  <main>
      <% if flash[:message] %>
        <p class="flash-message"><%= flash[:message] %></p>
      <% end %>
     <%= yield %>
  </main>
  <div id="sidebar">
    <%= render 'layouts/sidebar' %>
  </div>

  <footer>
    <p>
      Esmeralda Cervantes::Building Web Apps::Scaffolding Assignment
    </p>
  </footer>
</body>
</html>
